{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  
  <div class="row">
  <!-- <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4"> -->
  <div class="col-md-4 col-sm-4 col-lg-4">
  </div>

  <div class="col-md-4 col-sm-4 col-lg-4">
  <h4>Log in using this form</h4>
  <div id="errors">

  </div>
  <div  class="well">
    <form method="post" id="post-form">
        {% csrf_token %}
        {{ form|crispy }}
      <input class='btn btn-block btn-success' id="auth" type="submit" value="{% trans 'Submit' %}" />
    </form>
  </div>
  <div class="well">
    <p>{% trans "Not a member" %}? <a  href="{% url 'signup' %}">{% trans "Register" %}</a>!</p>
  </div>
    
  </div>
  </div>

  <div class="col-md-4 col-sm-4 col-lg-4">
  </div>

  </div>
{% endblock %}