{% extends 'base1.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  
  <div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
  <h3>Log in using this form</h3>
  <div id="errors">
    <!-- <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Enter a valid email address
    </div> -->
  </div>
    <form method="post" id="post-form">
    {% csrf_token %}
    <!-- {{ user_form.as_p }}
    {{ profile_form.as_p }} -->
        <!-- {% for field in form %}
          <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
          </p>
        {% endfor %} -->
        {{ form|crispy }}
      <input type="hidden" id="hidcode" name="hidcode" value="{{ code }}">
      <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
    </form>
    </div>
  </div>

  <div class="col-md-3">
  </div>

  </div>
{% endblock %}

{% block javascript %}

{% endblock %}